/*css variables*/

:root {
    --primary-color: #ADBCA5;
    --secondary-color: #544B3D;
    --font-size: 16px;
    --font-family: 'Rethink sans, sans-serif';
    --padding: 10px;
    --margin: 10px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 80px;
    margin: var(--margin);
}

h1 {
    color: var(--secondary-color);
}

#navbar {
    background-color: #100A33;
    color: var(--primary-color);
    width: 100%;
    position: fixed;
}

#hero-part-1 {
    color: whitesmoke;
}


/* Style the hero yourcourse section */
.hero3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFEBD4;
    padding: 8rem 0;
}

/* Style the hero index.html section */
.hero1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFEBD4;
    padding: 8rem 0;
}

/* Style the hero connect section */
.hero2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFEBD4;
    padding: 8rem 0;
}

.card {
    background-color: #130a48;
    color: whitesmoke;
}

.btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.list-unstyled {
    text-spacing-trim: 0.5em;
}

footer {
    background-color: #130a48;
    color: var(--primary-color);
}

#custom-contact {
    background-color: #E8B9AB;
    color: #130a48; 
    padding: var(--padding);
    margin: var(--margin);
}

.custom-button {
    background-color: #130a48;
    color: var(--primary-color);
}
