/*css variables*/

:root {
    --primary-color: #ADBCA5;
    --secondary-color: #544B3D;
    --font-size: 16px;
    --font-family: poppins, sans-serif;
    --padding: 10px;
    --margin: 10px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: whitesmoke;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



h1 h2 h3 h4 h5 h6{
    color: var(--secondary-color);
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-style: normal;
   
}

#navbar {
    background-color: var(--primary-color);
    color: rgb(10, 10, 80);
    width: 100%;
    position: fixed;
}
/*  Stlying of custom navbar button */
.nav-item1 {
    background-color: #E55812;
    border-radius: 20px;
    width: 110px;
}

.logo {
    width: 40px;
    height: 40px;
}

#hero-part-1 {
    color: whitesmoke;
}


/* Style the hero yourcourse section */
.hero3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/mateswalk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFEBD4;
    padding: 8rem 0;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 75px;
}

/* Style the hero index.html section */
.hero1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFEBD4;
    padding: 8rem 0;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 70px;
}

/* Style the hero connect section */
.hero2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/happyguyscopy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFEBD4;
    padding: 8rem 0;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 75px;
}

/* Add margin at the top to prevent content from being covered by the header */
.hero { 
    margin-top: 40px;
}

.card {
    background-color: #E55812;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 6px;
}

.btn {
    background-color: #E55812;
    color: whitesmoke;
}


footer {
    background-color: var(--primary-color);
    color: whitesmoke;
}

#custom-contact {
    background-color: var(--secondary-color);
    color: whitesmoke; 
    padding: var(--padding);
    /* Pushed the contact form up above the footer */
    margin-bottom: 80px;
}

/* standalone button on contact form */
.custom-button {
    background-color: #E55812;
    color: black;
    border: none;
}




/* Applies rounded corners to images with the 'rounded-image' class. */
.rounded-image {
    border-radius: 50px;
}
